@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8fbc8f;
}

/* Message before using the keyCode app */
.heading{
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    border: 3px solid #808080;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    box-shadow: 0 0 10px #008b8b;
    transition: all 1.6s ease-in-out;
}

.heading span{
    color: #663399;
    font-weight: 800;
}

/* Display keyCode on screen */
.container_items{
    width: max-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.item{
    padding: 0 1rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item span{
    text-align: center;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    color: #000039;
    text-shadow: 0 0 5px #acacac;
    margin-bottom: 10px;
}
.item-value{
    padding: .8rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    border: 1px solid #008b8b;
    border-radius: 5px;
    background-color: #b0e0e6;
}

/* 'Designed by' element*/
.footer {
    position: fixed;
    bottom: 5px;
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: 800;
    color: #2f4f4f;
}

.footer a {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    color: #663399;
    text-shadow: 0 0 4px rgba(85,85,85,.8);
    transition: all 0.4s ease-in-out;
}

.footer a:hover {
    transform: translateY(-3px);
    color: #008b8b;
    text-shadow: 0 0 4px rgba(175,238,238,.8);
    transition: all 0.4s ease-in-out;
}